@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
  margin: 0;
  background-color: #444444;
}

/* Navbar Styles */
.header {
  text-align: center;
  text-justify: auto;
  height: 2.5rem;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #5ff4ee;
}

.header > span {
  padding-left: 6px;
  color: #c2fcf6;
}

.github-corner {
  right: 0;
  top: 0;
  position: absolute;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
  background-color: #444444;
  margin: 5px;
  border-radius: 5px;
  border-color: #444444;
}

.pane-bottom {
  background-color: #ffffff;
  margin: 0 15px 10px 15px;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: #444444;
  z-index: 1;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: #444444;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #726a95;
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
